
@{
    ViewBag.Title = "Quản lý project";
    Layout = "~/Views/Shared/_admin.cshtml";
}


@{
    ViewBag.Title = "Quản lý Project";
}
<link href="~/Content/sweetalert.css" rel="stylesheet" />
@section js{
<script src="~/Helper/jquery-validation-1.17.0/dist/jquery.validate.min.js"></script>
<script src="~/Scripts/sweetalert-dev.js"></script>
    <script>
        function closeModal() {
            $(".w3-modal").css("display", "none");

        }
        function openModal(curModal, nextModal,iMaProjectCode) {
            if (nextModal == "#modal-ChinhSuaProject" || nextModal == "#modal-XoaProject")
            {
                $("#modal-ChinhSuaProject input[name='iMaProjectCode']").val(iMaProjectCode);
                $.ajax({
                    url:"@Url.Action("GetInfoProject", "Project")",
                    type:"post",
                    dateType: "json",
                    data: {"iMaProjectCode":iMaProjectCode},
                    success: function (result) {
                        if (nextModal == "#modal-ChinhSuaProject") {
                            $("#modal-ChinhSuaProject input[name='vTenProject']").val(result["vTenProject"]);
                            $("#modal-ChinhSuaProject input[name='vMoTa']").val(result["vMoTa"]);
                        } else {
                            $("#vTenProject").text(result["vTenProject"]);
                        }
                        
                    }
                });
            }
            $(curModal).css("display", "none");
            $(nextModal).css("display", "block");
        }
        $("#frmThemProject").validate({
            rules: {
                vTenProject: {
                    required: true
                },
                vMoTa: {
                    required: true
                }
            },
            messages: {
                vTenProject: "Không được bỏ trống !",
                vMoTa: "Không được bỏ trống !",
            }
        });
        $("#frmChinhSuaProject").validate({
            rules: {
                vTenProject: {
                    required: true
                },
                vMoTa: {
                    required: true
                }
            },
            messages: {
                vTenProject: "Không được bỏ trống !",
                vMoTa: "Không được bỏ trống !",
            }
        });

        $(function () {
            loadList();
        });

        function loadList() {
            $.ajax({
                url: "@Url.Action("GetProject","Project")",
                type: 'post',
                dataType: 'json',
                data: {
                    'index': $("#index").val(),
                    'search': $("#search").val(),
                    'iNgayLap': $("#selNgayLap").val(),
                },
                success: function (result) {
                    createItemList(result)
                }
            });
        }

        function createItemList(result) {
            var html = '';
            for (i = 0; i < result.length; i++) {
                html = '<div style="border: 1px dotted;" class="w3-margin col-md-5 class-' + result[i]["iMaProjectCode"] + '">';
                html+= '<div class="input-group">';
                html+='<div class="w3-row w3-border-bottom">';
                html += '    <h2><a href="/Module/ByProject/?iMaProjectCode=' + result[i]["iMaProjectCode"] + '">' + result[i]["vTenProject"] + '</a></h2>';
                html += '    <p>' + result[i]["vMoTa"] + '</p>';
                html += '    <p>Ngày tạo : ' + result[i]["dNgayLap"] + '</p>';
                html += '<button onclick="'+"openModal('','#modal-ChinhSuaProject',"+result[i]["iMaProjectCode"]+')" class="w3-button w3-pale-blue">Chỉnh sửa</button>';
                html += '<button onclick="frmXoaProjectSubmit('+result[i]["iMaProjectCode"]+')" class="w3-button w3-pale-red">Xóa</button>';
                html += '</div>';
                html += '</div>';
                html += '</div>';
                $(".my-list").append(html);
            }
        }

        $("#search").keyup(function () {
            $(".my-list").empty();
            $("#index").val(0);
            loadList();
        });



        $("#selNgayLap").change(function () {
            $(".my-list").empty();
            $("#index").val(0);
            loadList();
        });



        function taiThem() {
            var index = $("#index").val();
            index++;
            $("#index").val(index);
            loadList();
        }

        function frmThemProjectSubmit(event) {
            if ($("#frmThemProject").valid() == true) {
                $.ajax({
                    url: "@Url.Action("ThemProject", "Project")",
                    type: "post",
                    dataType: "text",
                    data: {
                        "vTenProject": $("input[name='vTenProject']").val(),
                        "vMoTa": $("input[name='vMoTa']").val(),
                    },
                    success: function (result) {
                        var html = '';
                        $(".main-thongbao").empty();
                        if (result != 0) {
                            html = '<h2 id="thongbao" class="w3-center">Đã thêm project thành công</h2>';
                        }
                        else {
                            html = '<h2 id="thongbao" class="w3-center">Đã thêm project thất bại</h2>';
                        }
                        html += '<center><a class="w3-btn w3-padding-large w3-teal w3-hover-green w3-center" onclick="closeModal()">OK</a></center>';
                        $(".main-thongbao").append(html);
                        openModal('#modal-ThemProject', '#modal-ThongBao');
                        $(".my-list").empty();
                        $("#index").val(0);
                        loadList();
                    }
                });

            }
        }

        function frmChinhSuaProjectSubmit() {
            if ($("#frmThemProject").valid() == true) {
                $.ajax({
                    url: "@Url.Action("ChinhSuaProject", "Project")",
                    type: "post",
                    dataType: "text",
                    data: {
                        "iMaProjectCode": $("input[name='iMaProjectCode']").val(),
                        "vTenProject": $("#modal-ChinhSuaProject input[name='vTenProject']").val(),
                        "vMoTa": $("#modal-ChinhSuaProject input[name='vMoTa']").val(),
                    },
                    success: function (result) {
                        var html = '';
                        $(".main-thongbao").empty();
                        if (result === 'True') {
                            html = '<h2 id="thongbao" class="w3-center">Đã chỉnh sửa project thành công</h2>';
                        }
                        else {
                            html = '<h2 id="thongbao" class="w3-center">Đã chỉnh sửa project thất bại</h2>';
                        }
                        html += '<center><a class="w3-btn w3-padding-large w3-teal w3-hover-green w3-center" onclick="closeModal()">OK</a></center>';
                        $(".main-thongbao").append(html);
                        openModal('#modal-ChinhSuaProject', '#modal-ThongBao');
                        $(".my-list").empty();
                        $("#index").val(0);
                        loadList();
                    }
                });
            }
        }

        function frmXoaProjectSubmit(id) {
            debugger;
            swal({
                title: "Bạn Có Chác muốn xóa? ",
                text: "Hãy suy nghỉ chắc chắn!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Xóa!",
                closeOnConfirm: false
            },
                function () {
                        $.ajax({
                            url: "@Url.Action("XoaProject", "Project")",
                            type: "post",
                            dataType: "text",
                            data: {
                                "iMaProjectCode": id,
                            },
                            success: function (result) {
                                //var html = '';
                                //$(".main-thongbao").empty();
                                if (result === 'True') {
                                    //    html = '<h2 id="thongbao" class="w3-center">Đã xóa project thành công</h2>';
                                    //}
                                    //else {
                                    //    html = '<h2 id="thongbao" class="w3-center">Đã xóa project thất bại</h2>';
                                    //}
                                    //html += '<center><a class="w3-btn w3-padding-large w3-teal w3-hover-green w3-center" onclick="closeModal()">OK</a></center>';
                                    //$(".main-thongbao").append(html);
                                    //openModal('#modal-XoaProject', '#modal-ThongBao');
                                    //$(".my-list").empty();
                                    //$("#index").val(0);
                                    swal("Đã Xóa!", "nhiệm vụ bạn chọn đã xóa.", "success");
                                    $(".class-"+id).remove();
                                    //loadList();
                                }
                            }
                        });
                    })
        }
    </script>
}


<div class="w3-white w3-margin-top w3-container w3-border w3-border-green" style="padding:0px">

    <div class="w3-bar w3-teal">
        <div class="w3-bar-item">@ViewBag.Title</div>
    </div>
    <div class="w3-container">
        <div class="w3-bar">
            <div class="w3-bar-item col-md-4">
                <div class="input-group">
                    <input type="text" id="search" class="form-control" placeholder="Search for..." aria-label="Search for...">
                    <span class="input-group-btn">
                        <button class="btn w3-teal" id="btnsearch" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </span>
                </div>
            </div>
            <div class="w3-bar-item col-md-4">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">Ngày tạo</span>
                    <select class="form-control" id="selNgayLap">
                        <option value="1">giảm dần</option>
                        <option value="2">tăng dần</option>
                    </select>
                </div>
            </div>
            <div class="w3-bar-item col-md-1">
                <button onclick="openModal('', '#modal-ThemProject')" class="w3-button w3-teal">+ Thêm Mới</button>
            </div>
        </div>
        <input hidden id="index" value="0" />
            <div class="my-list w3-margin-left">
                @*<div class="w3-row w3-border-bottom">
                    <h2>Project 1</h2>
                    <p>Mo ta project 1</p>
                    <p>Ngay lap : 12/123/123</p>
                </div>*@
            </div>
        <div class="w3-row" id="btntaithem">
            <button onclick="taiThem()" class="w3-btn w3-block w3-teal w3-padding-large">Tải thêm...</button>
        </div>
    </div>


    <div id="modal-ThemProject" class="w3-modal">
        <div class="w3-modal-content w3-animate-right w3-card-4">
            <div class="w3-display-container">
                <form id="frmThemProject" method="post" enctype="multipart/form-data">
                    @Html.AntiForgeryToken()
                    <header class="w3-container w3-teal">
                        <span onclick="closeModal()" class="w3-button w3-display-topright">&times;</span>
                        <h2 id="title-modal" class="w3-text-white">Thêm project mới</h2>
                    </header>
                    <div class="modal-main comfrim">
                        <table class="w3-table-all comfrim" align="center">
                            <thead>
                                <tr>
                                    <th width="20%"></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tr>
                                <td>
                                    Tên project
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Nhập tên project ở đây..." name="vTenProject" />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Mô tả
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Nhập mô tả ở đây..." name="vMoTa" />
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <footer id="footer-modal" class="w3-container w3-teal">
                        <a class="w3-btn w3-padding-large w3-hover-white" onclick="closeModal()">Quay lại</a>
                        <a class="w3-btn w3-padding-large w3-hover-white w3-right" onclick="frmThemProjectSubmit()">Lưu</a>
                    </footer>
                </form>
            </div>
        </div>
    </div>
    <div id="modal-ChinhSuaProject" class="w3-modal">
        <div class="w3-modal-content w3-animate-right w3-card-4">
            <div class="w3-display-container">
                <form id="frmChinhSuaProject" method="post" enctype="multipart/form-data">
                    <input hidden name="iMaProjectCode"/>
                    @Html.AntiForgeryToken()
                    <header class="w3-container w3-teal">
                        <span onclick="closeModal()" class="w3-button w3-display-topright">&times;</span>
                        <h2 id="title-modal" class="w3-text-white">Chỉnh sửa project</h2>
                    </header>
                    <div class="modal-main comfrim">
                        <table class="w3-table-all comfrim" align="center">
                            <thead>
                                <tr>
                                    <th width="20%"></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tr>
                                <td>
                                    Tên project
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Nhập tên project ở đây..." name="vTenProject" />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Mô tả
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Nhập mô tả ở đây..." name="vMoTa" />
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <footer id="footer-modal" class="w3-container w3-teal">
                        <a class="w3-btn w3-padding-large w3-hover-white" onclick="closeModal()">Quay lại</a>
                        <a class="w3-btn w3-padding-large w3-hover-white w3-right" onclick="frmChinhSuaProjectSubmit()">Lưu</a>
                    </footer>
                </form>
            </div>
        </div>
    </div>
    <div id="modal-XoaProject" class="w3-modal">
        <div class="w3-modal-content w3-animate-right w3-card-4">
            <div class="w3-display-container">
                    @Html.AntiForgeryToken()
                    <header class="w3-container w3-teal">
                        <span onclick="closeModal()" class="w3-button w3-display-topright">&times;</span>
                        <h2 id="title-modal" class="w3-text-white">Xóa project</h2>
                    </header>
                    <div class="modal-main comfrim">
                        <center><h2>Bạn có chắc chắn muốn xóa project <span id="vTenProject" class="w3-text-blue"></span> ?</h2></center>
                    </div>
                    <footer id="footer-modal" class="w3-container w3-teal">
                        <a class="w3-btn w3-padding-large w3-hover-white" onclick="closeModal()">Quay lại</a>
                        <a class="w3-btn w3-padding-large w3-hover-white w3-right" onclick="frmXoaProjectSubmit()">Xóa</a>
                    </footer>
            </div>
        </div>
    </div>
    <div id="modal-ThongBao" class="w3-modal">
        <div class="w3-modal-content w3-animate-right w3-card-4">
            <div class="w3-display-container">
                <header class="w3-container w3-teal">
                    <h2 id="title-modal">Thông báo</h2>
                </header>
                <div class="main-thongbao align-content-center">
                </div>
                <footer id="footer-modal" class="w3-container w3-teal"></footer>
            </div>
        </div>
    </div>
</div>



