
@{
    ViewBag.Title = "Quản lý module project " + ViewBag.vTenProject;
    Layout = "~/Views/Shared/_admin.cshtml";
}
<link href="~/Content/sweetalert.css" rel="stylesheet" />

@section js{
    <script src="~/Helper/jquery-validation-1.17.0/dist/jquery.validate.min.js"></script>
<script src="~/Scripts/sweetalert-dev.js"></script>
    <script>
        function closeModal() {
            $(".w3-modal").css("display", "none");

        }
        function openModal(curModal, nextModal,iMaModuleCode) {
            if (nextModal == "#modal-ChinhSuaModule" || nextModal == "#modal-XoaModule")
            {
                $("#modal-ChinhSuaModule input[name='iMaModuleCode']").val(iMaModuleCode);
                $.ajax({
                    url:"@Url.Action("GetInfoModule", "Module")",
                    type:"post",
                    dateType: "json",
                    data: {"iMaModuleCode":iMaModuleCode},
                    success: function (result) {
                        if (nextModal == "#modal-ChinhSuaModule") {
                            $("#modal-ChinhSuaModule input[name='vTenModule']").val(result["vTenModule"]);
                            $("#modal-ChinhSuaModule input[name='vMoTa']").val(result["vMoTa"]);
                        } else {
                            $("#vTenModule").text(result["vTenModule"]);
                        }

                    }
                });
            }
            $(curModal).css("display", "none");
            $(nextModal).css("display", "block");
        }

        $("#frmThemModule").validate({
            rules: {
                vTenModule: {
                    required: true
                },
                vMoTa: {
                    required: true
                }
            },
            messages: {
                vTenModule: "Không được bỏ trống !",
                vMoTa: "Không được bỏ trống !",
            }
        });
        $("#frmChinhSuaModule").validate({
            rules: {
                vTenModule: {
                    required: true
                },
                vMoTa: {
                    required: true
                }
            },
            messages: {
                vTenModule: "Không được bỏ trống !",
                vMoTa: "Không được bỏ trống !",
            }
        });

        $(function () {
            loadList();
        });

        function loadList() {
            $.ajax({
                url: "@Url.Action("GetModule","Module")",
                type: 'post',
                dataType: 'json',
                data: {
                    'index': $("#index").val(),
                    'search': $("#search").val(),
                    'iNgayLap': $("#selNgayLap").val(),
                    'iMaProjectCode': $("#iMaProjectCode").val()
                },
                success: function (result) {
                    createItemList(result)
                }
            });
        }

        function createItemList(result) {
            var html = '';
            for (i = 0; i < result.length; i++) {
                html = '<div style="border: 1px dotted;" class="w3-margin col-md-5 class-' + result[i]["iMaModuleCode"] + '">';
                html+= '<div class="input-group w3-margin">';
                html+='<div class="w3-row w3-border-bottom">';
                html += '    <h2><a href="/NhiemVu/ByModule/?iMaModuleCode=' + result[i]["iMaModuleCode"] + '">' + result[i]["vTenModule"] + '</a></h2>';
                html += '    <p>' + result[i]["vMoTa"] + '</p>';
                html += '    <p>Ngày tạo : ' + result[i]["dNgayLap"] + '</p>';
                html += '<button onclick="'+"openModal('','#modal-ChinhSuaModule',"+result[i]["iMaModuleCode"]+')" class="w3-button w3-pale-blue">Chỉnh sửa</button>';
                html += '<button onclick="frmXoaModuleSubmit(' + result[i]["iMaModuleCode"] + ')" class="w3-button w3-pale-red">Xóa</button>';
                html += '</div>';
                html += '</div>';
                html += '</div>';
                $(".my-list").append(html);
            }
        }

        $("#search").keyup(function () {
            $(".my-list").empty();
            $("#index").val(0);
            loadList();
        });



        $("#selNgayLap").change(function () {
            $(".my-list").empty();
            $("#index").val(0);
            loadList();
        });



        function taiThem() {
            var index = $("#index").val();
            index++;
            $("#index").val(index);
            loadList();
        }

        function frmThemModuleSubmit(event) {
            if ($("#frmThemModule").valid() == true) {
                $.ajax({
                    url: "@Url.Action("ThemModule", "Module")",
                    type: "post",
                    dataType: "text",
                    data: {
                        "iMaProjectCode":$("#iMaProjectCode").val(),
                        "vTenModule": $("input[name='vTenModule']").val(),
                        "vMoTa": $("input[name='vMoTa']").val(),
                    },
                    success: function (result) {
                        var html = '';
                        $(".main-thongbao").empty();
                        if (result != 0) {
                            html = '<h2 id="thongbao" class="w3-center">Đã thêm Module thành công</h2>';
                        }
                        else {
                            html = '<h2 id="thongbao" class="w3-center">Đã thêm Module thất bại</h2>';
                        }
                        html += '<center><a class="w3-btn w3-padding-large w3-teal w3-hover-green w3-center" onclick="closeModal()">OK</a></center>';
                        $(".main-thongbao").append(html);
                        openModal('#modal-ThemModule', '#modal-ThongBao');
                        $(".my-list").empty();
                        $("#index").val(0);
                        loadList();
                    }
                });

            }
        }

        function frmChinhSuaModuleSubmit() {
            if ($("#frmThemModule").valid() == true) {
                $.ajax({
                    url: "@Url.Action("ChinhSuaModule", "Module")",
                    type: "post",
                    dataType: "text",
                    data: {
                        "iMaModuleCode": $("input[name='iMaModuleCode']").val(),
                        "vTenModule": $("#modal-ChinhSuaModule input[name='vTenModule']").val(),
                        "vMoTa": $("#modal-ChinhSuaModule input[name='vMoTa']").val(),
                    },
                    success: function (result) {
                        var html = '';
                        $(".main-thongbao").empty();
                        if (result === 'True') {
                            html = '<h2 id="thongbao" class="w3-center">Đã chỉnh sửa Module thành công</h2>';
                        }
                        else {
                            html = '<h2 id="thongbao" class="w3-center">Đã chỉnh sửa Module thất bại</h2>';
                        }
                        html += '<center><a class="w3-btn w3-padding-large w3-teal w3-hover-green w3-center" onclick="closeModal()">OK</a></center>';
                        $(".main-thongbao").append(html);
                        openModal('#modal-ChinhSuaModule', '#modal-ThongBao');
                        $(".my-list").empty();
                        $("#index").val(0);
                        loadList();
                    }
                });
            }
        }

        function frmXoaModuleSubmit(id) {
            swal({
                title: "Bạn Có Chác muốn xóa? ",
                text: "Hãy suy nghỉ chắc chắn!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Xóa!",
                closeOnConfirm: false
            },
                function () {
                    $.ajax({
                        url: "@Url.Action("XoaModule", "Module")",
                        type: "post",
                        dataType: "text",
                        data: {
                            "iMaModuleCode": id,
                        },
                        success: function (result) {
                            //var html = '';
                            //$(".main-thongbao").empty();
                            if (result === 'True') {
                                //html = '<h2 id="thongbao" class="w3-center">Đã xóa Module thành công</h2>';
                                swal("Đã Xóa!", "nhiệm vụ bạn chọn đã xóa.", "success");
                                $(".class-"+id).empty();
                            }
                            //else {
                            //    html = '<h2 id="thongbao" class="w3-center">Đã xóa Module thất bại</h2>';
                            //}
                            //html += '<center><a class="w3-btn w3-padding-large w3-teal w3-hover-green w3-center" onclick="closeModal()">OK</a></center>';
                            //$(".main-thongbao").append(html);
                            //openModal('#modal-XoaModule', '#modal-ThongBao');
                            //$(".my-list").empty();
                            //$("#index").val(0);
                            //loadList();
                        }
                    })
            });
        }
    </script>
}

<input hidden id="iMaProjectCode" value="@ViewBag.iMaProjectCode"/>
<div class="w3-white w3-margin-top w3-container w3-border w3-border-green" style="padding:0px">
    <div class="w3-bar w3-teal">
        <div class="w3-bar-item">@ViewBag.Title</div>
    </div>
    <div class="w3-container">
        <div class="w3-bar">
            <div class="w3-bar-item col-md-4">
                <div class="input-group">
                    <input type="text" id="search" class="form-control" placeholder="Search for..." aria-label="Search for...">
                    <span class="input-group-btn">
                        <button class="btn w3-teal" id="btnsearch" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </span>
                </div>
            </div>
            <div class="w3-bar-item col-md-4">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">Ngày tạo</span>
                    <select class="form-control" id="selNgayLap">
                        <option value="1">giảm dần</option>
                        <option value="2">tăng dần</option>
                    </select>
                </div>
            </div>
            <div class="w3-bar-item col-md-1">
                <button onclick="openModal('', '#modal-ThemModule')" class="w3-button w3-teal">+ Thêm Mới</button>
            </div>
        </div>
        <input hidden id="index" value="0" />
        <div class="my-list w3-margin-left">
           
        </div>
        <div class="w3-row" id="btntaithem">
            <button onclick="taiThem()" class="w3-btn w3-block w3-teal w3-padding-large">Tải thêm...</button>
        </div>
    </div>


    <div id="modal-ThemModule" class="w3-modal">
        <div class="w3-modal-content w3-animate-right w3-card-4">
            <div class="w3-display-container">
                <form id="frmThemModule" method="post" enctype="multipart/form-data">
                    @Html.AntiForgeryToken()
                    <header class="w3-container w3-teal">
                        <span onclick="closeModal()" class="w3-button w3-display-topright">&times;</span>
                        <h2 id="title-modal" class="w3-text-white">Thêm Module mới</h2>
                    </header>
                    <div class="modal-main comfrim">
                        <table class="w3-table-all comfrim" align="center">
                            <thead>
                                <tr>
                                    <th width="20%"></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tr>
                                <td>
                                    Tên Module
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Nhập tên Module ở đây..." name="vTenModule" />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Mô tả
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Nhập mô tả ở đây..." name="vMoTa" />
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <footer id="footer-modal" class="w3-container w3-teal">
                        <a class="w3-btn w3-padding-large w3-hover-white" onclick="closeModal()">Quay lại</a>
                        <a class="w3-btn w3-padding-large w3-hover-white w3-right" onclick="frmThemModuleSubmit()">Lưu</a>
                    </footer>
                </form>
            </div>
        </div>
    </div>
    <div id="modal-ChinhSuaModule" class="w3-modal">
        <div class="w3-modal-content w3-animate-right w3-card-4">
            <div class="w3-display-container">
                <form id="frmChinhSuaModule" method="post" enctype="multipart/form-data">
                    <input hidden name="iMaModuleCode" />
                    @Html.AntiForgeryToken()
                    <header class="w3-container w3-teal">
                        <span onclick="closeModal()" class="w3-button w3-display-topright">&times;</span>
                        <h2 id="title-modal" class="w3-text-white">Chỉnh sửa Module</h2>
                    </header>
                    <div class="modal-main comfrim">
                        <table class="w3-table-all comfrim" align="center">
                            <thead>
                                <tr>
                                    <th width="20%"></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tr>
                                <td>
                                    Tên Module
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Nhập tên Module ở đây..." name="vTenModule" />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Mô tả
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Nhập mô tả ở đây..." name="vMoTa" />
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <footer id="footer-modal" class="w3-container w3-teal">
                        <a class="w3-btn w3-padding-large w3-hover-white" onclick="closeModal()">Quay lại</a>
                        <a class="w3-btn w3-padding-large w3-hover-white w3-right" onclick="frmChinhSuaModuleSubmit()">Lưu</a>
                    </footer>
                </form>
            </div>
        </div>
    </div>
    <div id="modal-XoaModule" class="w3-modal">
        <div class="w3-modal-content w3-animate-right w3-card-4">
            <div class="w3-display-container">
                @Html.AntiForgeryToken()
                <header class="w3-container w3-teal">
                    <span onclick="closeModal()" class="w3-button w3-display-topright">&times;</span>
                    <h2 id="title-modal" class="w3-text-white">Xóa Module</h2>
                </header>
                <div class="modal-main comfrim">
                    <center><h2>Bạn có chắc chắn muốn xóa Module <span id="vTenModule" class="w3-text-blue"></span> ?</h2></center>
                </div>
                <footer id="footer-modal" class="w3-container w3-teal">
                    <a class="w3-btn w3-padding-large w3-hover-white" onclick="closeModal()">Quay lại</a>
                    <a class="w3-btn w3-padding-large w3-hover-white w3-right" onclick="frmXoaModuleSubmit()">Xóa</a>
                </footer>
            </div>
        </div>
    </div>
    <div id="modal-ThongBao" class="w3-modal">
        <div class="w3-modal-content w3-animate-right w3-card-4">
            <div class="w3-display-container">
                <header class="w3-container w3-teal">
                    <h2 id="title-modal">Thông báo</h2>
                </header>
                <div class="main-thongbao align-content-center">
                </div>
                <footer id="footer-modal" class="w3-container w3-teal"></footer>
            </div>
        </div>
    </div>
</div>




