
@{
    ViewBag.Title = "ChiTietNhiemVu";
    Layout = "~/Views/Shared/_admin.cshtml";
}

@section css{
    <script src="~/Helper/jquery-validation-1.17.0/dist/jquery.validate.min.js"></script>
<link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.4/summernote.css" rel="stylesheet">
}
@section js{
    <script src="~/Scripts/MyScripts/myslideshow.js"></script>
<script src="~/Scripts/summernote.js"></script>
    <script>
        $("#frmBaoCaoNhiemVu").validate({
            rules: {
                vMoTa: {
                    required: true
                }
            },
            messages: {
                vMoTa: "Không được bỏ trống !",
            }
        });

        $("#frmThemLoi").validate({
            rules: {
                vTenLoi: {
                    required: true
                },
                vChiTietLoi: {
                    required: true
                }
            },
            messages: {
                vChiTietLoi: "Không được bỏ trống !",
                vTenLoi: "Không được bỏ trống !",
            }
        });

        function closeModal() {
            $(".w3-modal").css("display", "none");

        }
        function openModal(curModal, nextModal) {
            refresh();
            $(curModal).css("display", "none");
            $(nextModal).css("display", "block");
        }

        function doiMauTenTrangThai(iMaTrangThaiCode){
            if(iMaTrangThaiCode==1)
            {
                $("#vTenTrangThai").addClass("w3-text-blue");
            }else if(iMaTrangThaiCode==2){
                if($("#vTenTrangThai").hasClass("w3-text-blue")){
                    $("#vTenTrangThai").removeClass("w3-text-blue");
                }
                if($("#vTenTrangThai").hasClass("w3-text-red")){
                    $("#vTenTrangThai").removeClass("w3-text-red");
                }
                $("#vTenTrangThai").addClass("w3-text-khaki");
            }else if(iMaTrangThaiCode==3){
                $("#vTenTrangThai").removeClass("w3-text-khaki");
                $("#vTenTrangThai").addClass("w3-text-green");
            }else if(iMaTrangThaiCode==4){
                $("#vTenTrangThai").removeClass("w3-text-green");
                $("#vTenTrangThai").addClass("w3-text-teal");
            }else if(iMaTrangThaiCode==5){
                $("#vTenTrangThai").removeClass("w3-text-green");
                $("#vTenTrangThai").addClass("w3-text-red");
            }
        }


        $(function () {

            doiTenbtnTrangThai(@Model.iMaTrangThaiCode);

            doiMauTenTrangThai(@Model.iMaTrangThaiCode);

            $.ajax({
                url:"@Url.Action("GetTapTinNhiemVu", "NhiemVu")",
                type:"post",
                dataType:"json",
                data:{"iMaNhiemVuCode":@Model.iMaNhiemVuCode},
                success:function(result){
                    for(i=0;i<result.length;i++)
                    {
                        var html='';
                        html+='<div class="col-md-4">';
                        html+='<li>';
                        html+='<a href="'+result[i]["vDuongDan"]+'" download>';
                        
                        var extDoc = ['doc', 'docx'];
                        var extExcel = ['xls', 'xlsx'];
                        var extZip = ['zip', 'rar'];
                        var extSQL = ['sql'];
                        var extCode = ['js', 'css','cs'];
                        var fileName = result[i]["vTenTapTin"];
                        var fileNameExt = fileName.substr(fileName.lastIndexOf('.') + 1);
                        if ($.inArray(fileNameExt, extDoc) != -1) {
                            html+='<i class="fa fa-file-word-o w3-jumbo w3-button w3-text-blue" aria-hidden="true"></i></a>';
                        } else if ($.inArray(fileNameExt, extExcel) != -1)
                        {
                            html+='<i class="fa fa-file-excel-o w3-jumbo w3-button w3-text-teal" aria-hidden="true"></i></a>';
                        } else if ($.inArray(fileNameExt, extZip) != -1) {
                            html+='<i class="fa fa-file-archive-o w3-jumbo w3-button w3-text-purple" aria-hidden="true"></i></a>';
                        } else if ($.inArray(fileNameExt, extSQL) != -1) {
                            html+='<i class="fa fa-file-text-o w3-jumbo w3-button w3-text-orange" aria-hidden="true"></i></a>';
                        } else if ($.inArray(fileNameExt, extCode) != -1) {
                            html+='<i class="fa fa-file-code-o w3-jumbo w3-button w3-text-teal" aria-hidden="true"></i></a>';
                        }

                        html+='<p class="w3-margin-top truncate" data-toggle="tooltip" data-placement="bottom" title="'+fileName+'">'+fileName+'</p>';
                        html+='</li>';
                        html+='</div>';
                        $("#taptin").append(html);
                    }
                }
            });
        })

        function doiTenbtnTrangThai(iMaTrangThaiCode){
            if(iMaTrangThaiCode==2)
            {
                $("#btnTrangThai").text("Trả nhiệm vụ");
            }else if(iMaTrangThaiCode==5)
            {
                $("#btnTrangThai").text("Sửa lỗi");
            }
        }

        function thayDoiTrangThai(curModal,iMaTrangThaiCode){
            $.ajax({
                url:"@Url.Action("ThayDoiTrangThai", "NhiemVu")",
                type:"post",
                dataType:"text",
                data:{
                    "iMaNhiemVuCode":@Model.iMaNhiemVuCode,
                    "iMaTrangThaiCode":iMaTrangThaiCode
                },
                success:function(result){
                    $(".main-thongbao").empty();
                    var html ='';
                    if(result==='True'){
                        doiMauTenTrangThai(iMaTrangThaiCode);
                        if(iMaTrangThaiCode == 2)
                        {
                            html += '<h2 id="thongbao" class="w3-center">Đã nhận nhiệm vụ thành công !</h2>';
                            $("#btnTrangThai").text("Giao nhiệm vụ");
                            $("#vTenTrangThai").text("Đang thực hiện");
                            $("#btnTrangThai").attr("onclick","btnTrangThaiClick("+iMaTrangThaiCode+")");
                        }else if(iMaTrangThaiCode == 3){
                            html += '<h2 id="thongbao" class="w3-center">Đã báo cáo thành công !</h2>';
                            $("#vTenTrangThai").text("Đang chờ duyệt");
                            $("#btnTrangThai").hide();
                        }else if(iMaTrangThaiCode == 4){
                            html += '<h2 id="thongbao" class="w3-center">Đã duyệt thành công !</h2>';
                            $("#vTenTrangThai").text("Đã hoàn thành");
                            $(".btnTrangThai").hide();
                        }

                    }else{
                        html += '<h2 id="thongbao" class="w3-center">Yêu cầu thất bại vui lòng thử lại sau.</h2>';
                    }
                    html += '<center><button class="w3-btn w3-padding-large w3-teal w3-hover-green w3-center" onclick="closeModal()">OK</button><center>';
                    $('.main-thongbao').append(html);
                    openModal(curModal,"#modal-ThongBao")
                }
            });
        }

        $(".w3-bar").on('change', 'input[name="Hinh"]', function () {
            var index = parseInt($(this).attr("id"));
            index++;
            $(this).siblings().eq(0).remove();
            var html = '';
            html += '<a onclick="removefile(event)" class="w3-transparent w3-hover-gray w3-display-topright">&times;</a>';

            var extHinh = ['png', 'jpg'];
            var fileName = event.target.files[0].name;
            var fileNameExt = fileName.substr(fileName.lastIndexOf('.') + 1);
            if ($.inArray(fileNameExt, extHinh) == -1) {
                html = '';
                html += '<a onclick="removefile(event,1)" class="w3-transparent w3-hover-gray w3-display-topright">&times;</a>';
                var count = $("#countErrHinh").val();
                count++;
                $("#countErrHinh").val(count);
                if ($("#errHinh").length == 0) {
                    $(".bar-hinh").after('<p id="errHinh" class="w3-text-red">Vui lòng chọn định dạng file là png hoặc jpg !</p>');
                }
            }

            html += '<h3><label><img style="width:63px;height:43px" src="" /></label></h3>';
            $(this).after(html);
            var output = $(this).siblings().eq(1).find("img");

            output.attr("src", URL.createObjectURL(event.target.files[0]));

            html = '<div class="w3-margin-right w3-bar-item w3-border w3-border-gray w3-pale-blue w3-display-container">';
            html += '       <input type="file" style="display:none" class="form-control validate" id="' + index + 'Hinh" name="Hinh">';
            html += '       <h3><label for="' + index + 'Hinh"><i class="fa fa-camera w3-button w3-padding-large w3-text-teal" aria-hidden="true"></i></label></h3>';
            html += '</div>';
            $(this).closest(".w3-bar-item").before(html);

        
        });

        function refresh() {
            $("input[name='vTenLoi']").val('');
            $("textarea[name='vMoTa']").val('');
            refreshHinh();
            refreshTapTin();
        }

        function refreshHinh() {
            $("#countErrHinh").val(0);
            $(".bar-hinh").empty();
            $("#errHinh").remove();
            var html = '';
            html += '<div class="w3-margin-right w3-bar-item w3-border w3-border-gray w3-pale-blue w3-display-container">';
            html += '     <input type="file" style="display:none" class="form-control validate" id="1Hinh" name="Hinh">';
            html += '     <h3>';
            html += '         <label for="1Hinh"><i class="fa fa-camera w3-button w3-padding-large w3-text-teal" aria-hidden="true"></i></label>';
            html += '     </h3>';
            html += '</div>';
            $(".bar-hinh").append(html);
        }

        $(".main-modal").on('change','input[name="TapTin"]',function () {
            var index = parseInt($(this).attr("id"));
            index++;
            $(this).siblings().eq(0).remove();
            var html = '';
            html += '<a onclick="removefile(event)" class="w3-transparent w3-hover-gray w3-display-topright">&times;</a>';

            var extDoc = ['doc', 'docx'];
            var extExcel = ['xls', 'xlsx'];
            var extZip = ['zip', 'rar'];
            var extSQL = ['sql'];
            var extCode = ['js', 'css','cs'];
            var fileName = event.target.files[0].name;
            var fileNameExt = fileName.substr(fileName.lastIndexOf('.') + 1);
            if ($.inArray(fileNameExt, extDoc) != -1) {
                html += '<h3><label><i class="fa fa-file-word-o w3-button w3-padding-large w3-text-blue" aria-hidden="true"></i></label></h3>';
            } else if ($.inArray(fileNameExt, extExcel) != -1)
            {
                html += '<h3><label><i class="fa fa-file-excel-o w3-button w3-padding-large w3-text-teal" aria-hidden="true"></i></label></h3>';
            } else if ($.inArray(fileNameExt, extZip) != -1) {
                html += '<h3><label><i class="fa fa-file-archive-o w3-button w3-padding-large w3-text-purple" aria-hidden="true"></i></label></h3>';
            } else if ($.inArray(fileNameExt, extSQL) != -1) {
                html += '<h3><label><i class="fa fa-file-text-o w3-button w3-padding-large w3-text-orange" aria-hidden="true"></i></label></h3>';
            } else if ($.inArray(fileNameExt, extCode) != -1) {
                html += '<h3><label><i class="fa fa-file-code-o w3-button w3-padding-large w3-text-teal" aria-hidden="true"></i></label></h3>';
            }else{
                html = '';
                html += '<a onclick="removefile(event,2)" class="w3-transparent w3-hover-gray w3-display-topright">&times;</a>';
                html += '<h3><label><i class="fa fa-file-o w3-button w3-padding-large" aria-hidden="true"></i></label></h3>';
                var count = $("#countErrTapTin").val();
                count++;
                $("#countErrTapTin").val(count);
                if ($("#errTapTin").length == 0)
                {
                    $(".bar-taptin").after('<p id="errTapTin" class="w3-text-red">Vui lòng chọn định dạng file là xls, xlsx, doc, docs, txt, zip, rar, js, css, cs, sql !</p>');
                }

            }

            $(this).after(html);

            html = '<div class="w3-margin-right w3-bar-item w3-border w3-border-gray w3-pale-blue w3-display-container">';
            html += '       <input type="file" style="display:none" class="form-control validate" id="' + index + 'TapTin" name="TapTin">';
            html+='       <h3><label for="'+index+'TapTin"><i class="fa fa-file w3-button w3-padding-large w3-text-teal" aria-hidden="true"></i></label></h3>';
            html += '</div>';
            $(this).closest(".w3-bar-item").before(html);

        });

        function refreshTapTin() {
            $("#countErrTapTin").val(0);
            $(".bar-taptin").empty();
            $("#errTapTin").remove();
            var html = '';
            html += '<div class="w3-margin-right w3-bar-item w3-border w3-border-gray w3-pale-blue w3-display-container">';
            html += '     <input type="file" style="display:none" class="form-control validate" id="1TapTin" name="TapTin">';
            html += '     <h3>';
            html += '         <label for="1TapTin"><i class="fa fa-file w3-button w3-padding-large w3-text-teal" aria-hidden="true"></i></label>';
            html += '     </h3>';
            html += '</div>';
            $(".bar-taptin").append(html);
        }

        function removefile(event, error) {
            if (error == 1) {
                var countHinh = $("#countErrHinh").val();
                countHinh--;
                $("#countErrHinh").val(countHinh);
                if (countHinh == 0) {
                    $("#errHinh").remove();
                }
                event.target.closest(".w3-bar-item").remove();
            } else if (error == 2) {
                var countErrTapTin = $("#countErrTapTin").val();
                countErrTapTin--;
                $("#countErrTapTin").val(countTapTin);
                if (countTapTin == 0) {
                    $("#errTapTin").remove();
                }

            }
            event.target.closest(".w3-bar-item").remove();
        }

        function uploadfilebaocao(iMaBaoCaoCode) {
            var inputfile = $("input[type='file']");
            var data = new FormData();
            for (i = 0; i < inputfile.length; i++) {
                var files = inputfile[i].files;
                for (var j = 0; j < files.length; j++) {
                    var file = files[j];
                    data.append("FileUpload" + i, file);
                }
            }
            $.ajax({
                url: "/NhiemVu/UploadFileBaoCao?iMaBaoCaoCode=" + iMaBaoCaoCode,
                type: "POST",
                contentType: false,
                processData: false,
                dataType:"text",
                data: data,
                success: function (result) {
                    var html = '';
                    if (result === 'True') {
                        thayDoiTrangThai('#modal-BaoCao',3)
                    }
                    else {

                        html = '<h2 id="thongbao" class="w3-center">Đã báo cáo thất bại !</h2>';
                        html += '<center><a class="w3-btn w3-padding-large w3-teal w3-hover-green w3-center" onclick="closeModal()">OK</a></center>';
                        $(".main-thongbao").append(html);
                        openModal('#modal-BaoCao', '#modal-ThongBao');
                    }
                }
            });
        }

        function frmBaoCaoNhiemVuSubmit(){
            if ($("#countErrTapTin").val() == 0 && $("#frmBaoCaoNhiemVu").valid()) {
                $.ajax({
                    url:"@Url.Action("BaoCaoNhiemVu", "NhiemVu")",
                    type:"post",
                    dataType:"text",
                    data:{
                        "iMaNhiemVuCode":@Model.iMaNhiemVuCode,
                        "vMoTa":$("#vMoTa").val(),
                        "vDuongDanTapTin":$("input[type='linkfile']").val()
                    },
                    success: function(result){
                        if(result!=0)
                        {
                            if($("input[type='file']").length>1)
                            {
                                uploadfilebaocao(result);
                            }else{
                                thayDoiTrangThai('#modal-BaoCao',3)
                            }
                        }else{
                            var html = '<h2 id="thongbao" class="w3-center">Đã báo cáo thất bại !</h2>';
                            html += '<center><a class="w3-btn w3-padding-large w3-teal w3-hover-green w3-center" onclick="closeModal()">OK</a></center>';
                            $(".main-thongbao").append(html);
                            openModal('#modal-BaoCao', '#modal-ThongBao');
                        }
                    }
                });
            }
            else{}
        }

        function btnTrangThaiClick(iMaTrangThaiCode,iSuaLoi){
            if(iSuaLoi==1)
            {
                thayDoiTrangThai('',4);
            }else if(iSuaLoi==2){
                openModal('','#modal-ThemLoi');
            }else{
                if(iMaTrangThaiCode == 1)
                {
                    openModal('','#modal-comfirm');
                }else if(iMaTrangThaiCode == 2 || iMaTrangThaiCode==5){
                    openModal('','#modal-BaoCao');
                }
            }
        }
        function frmThemLoiSubmit(){
            if ($("#countErrHinh").val() == 0 && $("#frmThemLoi").valid()) {
                $.ajax({
                    url:"@Url.Action("ThemLoi", "NhiemVu")",
                    type:"post",
                dataType:"text",
                data:{
                    "iMaNhiemVuCode":@Model.iMaNhiemVuCode,
                    "vTenLoi":$("input[name='vTenLoi']").val(),
                    "vChiTietLoi":$("input[name='vChiTietLoi']").val(),
                },
                success: function(result){
                    if(result!=0)
                    {
                        uploadfile(result);
                    }else{
                        var html = '<h2 id="thongbao" class="w3-center">Đã báo cáo thất bại !</h2>';
                        html += '<center><a class="w3-btn w3-padding-large w3-teal w3-hover-green w3-center" onclick="closeModal()">OK</a></center>';
                        $(".main-thongbao").append(html);
                        openModal('#modal-ThemLoi', '#modal-ThongBao');
                    }
                }
            });
        }
        else{}
        }

        function uploadfile(iMaChiTietLoiCode) {
            var inputfile = $("input[type='file']");
            var data = new FormData();
            for (i = 0; i < inputfile.length; i++) {
                var files = inputfile[i].files;
                for (var j = 0; j < files.length; j++) {
                    var file = files[j];
                    data.append("FileUpload" + i, file);
                }
            }
            $.ajax({
                url: "/NhiemVu/UploadHinhLoi?iMaChiTietLoiCode=" + iMaChiTietLoiCode,
                type: "POST",
                contentType: false,
                processData: false,
                data: data,
                success: function (result) {
                    var html = '';
                    if (result === 'True') {
                        html = '<h2 id="thongbao" class="w3-center">Đã thêm lỗi thành công !</h2>';
                        $(".main-thongbao").append(html);
                    }
                    else {
                        html = '<h2 id="thongbao" class="w3-center">Đã thêm lỗi thất bại !</h2>';
                        $(".main-thongbao").append(html);
                    }
                    html = '<center><a class="w3-btn w3-padding-large w3-teal w3-hover-green w3-center" onclick="closeModal()">OK</a></center>';
                    $(".main-thongbao").append(html);
                    openModal('#modal-ThemLoi', '#modal-ThongBao');
                }
            });

        }
    </script>
}

@using sb_admin.web.Models
@using sb_admin.web.Helper
@model ChiTietNhiemVuViewModel

<div class="w3-white w3-margin-top w3-container w3-border w3-border-green" style="padding:0px">

    <div class="w3-bar w3-teal">
        <div class="w3-bar-item">@ViewBag.Title</div>
    </div>

    @*<div class="w3-row w3-margin">
        <div class="w3-third w3-border-right w3-border-green">
            @Html.Action("HinhNhiemVuPartial", "NhiemVu", new { iMaNhiemVuCode = Model.iMaNhiemVuCode })
        </div>
        <div class="w3-twothird">
            <div class="w3-content w3-margin w3-padding">
                <input id="iMaTrangThaiCode" hidden value="@Model.iMaTrangThaiCode" />
                <table>
                    <tr>
                        <td><p>Ngày đăng:</p></td>
                        <td><p>@Model.dNgayLap</p></td>
                    </tr>
                    <tr>
                        <td><p>Người đăng:</p></td>
                        <td><p>@Model.vTenNguoiDang</p></td>
                    </tr>
                    <tr>
                        <td><p>Tên nhiệm vụ:</p></td>
                        <td><p class="w3-text-blue">@Model.vTenNhiemVu</p></td>
                    </tr>
                    <tr>
                        <td><p>Người được giao:</p></td>
                        <td><p>@Model.vTenNguoiDuocGiao</p></td>
                    </tr>
                    <tr>
                        <td><p>Ngày bắt đầu:</p></td>
                        <td><p>@Model.dNgayBD</p></td>
                    </tr>
                    <tr>
                        <td><p>Ngày kết thúc:</p></td>
                        <td><p>@Model.dNgayKT</p></td>
                    </tr>
                    <tr>
                        <td><p>Trạng thái:</p></td>
                        <td><p id="vTenTrangThai">@Model.vTenTrangThai</p></td>
                    </tr>
                    <tr>
                        <td colspan="2" class="w3-center">
                            @if (CurrentContext.GetUser().iMaThanhVienCode != Model.iMaNguoiDangCode && CurrentContext.GetUser().iMaThanhVienCode == Model.iMaNguoiDuocGiaoCode)
                            {
                                if (Model.iMaTrangThaiCode != 3 && Model.iMaTrangThaiCode != 4)
                                {
                                    <button id="btnTrangThai" class="btnTrangThai w3-button w3-white w3-border w3-border-blue w3-round-large" onclick="btnTrangThaiClick(@Model.iMaTrangThaiCode)">Nhận nhiệm vụ</button>
                                }
                            }
                            else if (CurrentContext.GetUser().iMaThanhVienCode == Model.iMaNguoiDangCode && Model.iMaTrangThaiCode == 3)
                            {
                                <button onclick="btnTrangThaiClick(@Model.iMaTrangThaiCode,1)" class="btnTrangThai btn btn-success">Duyệt</button>
                                <button onclick="btnTrangThaiClick(@Model.iMaTrangThaiCode,2)" class="btnTrangThai btn btn-danger">Sửa lại</button>
                            }
                            else if (CurrentContext.GetUser().iMaThanhVienCode == Model.iMaNguoiDangCode && Model.iMaTrangThaiCode == 5)
                            {
                                <button onclick="btnTrangThaiClick(@Model.iMaTrangThaiCode,2)" class="btnTrangThai btn btn-danger">Thêm lỗi</button>
                            }
                        </td>
                    </tr>
                </table>
            </div>

        </div>
        <div class="w3-row w3-margin">
            <ul id="taptin"></ul>
        </div>

        <div class="w3-half w3-margin">
            <h2>Chi tiết lỗi</h2>
            @if (Model.iMaTrangThaiCode == 5)
            {
                @Html.Action("GetChiTietLoi", "NhiemVu", new { iMaNhiemVuCode = Model.iMaNhiemVuCode })
            }
        </div>

        <div class="w3-half w3-margin">
            <h2>Báo cáo</h2>
            @Html.Action("GetBaoCao", "NhiemVu", new { iMaNhiemVuCode = Model.iMaNhiemVuCode })
        </div>

        
        
        
    </div>*@
    @*asdasdasd*@
    <div class="col-lg-12">
        <div class="panel panel-default">

            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-4">
                            <input id="iMaTrangThaiCode" hidden value="@Model.iMaTrangThaiCode" />
                            <table>
                                <tr>
                                    <td><p>Ngày đăng:</p></td>
                                    <td><p>@Model.dNgayLap</p></td>
                                </tr>
                                <tr>
                                    <td><p>Người đăng:</p></td>
                                    <td><p>@Model.vTenNguoiDang</p></td>
                                </tr>
                                <tr>
                                    <td><p>Tên nhiệm vụ:</p></td>
                                    <td><p class="w3-text-blue">@Model.vTenNhiemVu</p></td>
                                </tr>
                                <tr>
                                    <td><p>Người được giao:</p></td>
                                    <td><p>@Model.vTenNguoiDuocGiao</p></td>
                                </tr>
                                <tr>
                                    <td><p>Ngày bắt đầu:</p></td>
                                    <td><p>@Model.dNgayBD</p></td>
                                </tr>
                                <tr>
                                    <td><p>Ngày kết thúc:</p></td>
                                    <td><p>@Model.dNgayKT</p></td>
                                </tr>
                                <tr>
                                    <td><p>Trạng thái:</p></td>
                                    <td><p id="vTenTrangThai">@Model.vTenTrangThai</p></td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="w3-center">
                                        @if (CurrentContext.GetUser().iMaThanhVienCode != Model.iMaNguoiDangCode && CurrentContext.GetUser().iMaThanhVienCode == Model.iMaNguoiDuocGiaoCode)
                                        {
                                            if (Model.iMaTrangThaiCode != 3 && Model.iMaTrangThaiCode != 4)
                                            {
                                                <button id="btnTrangThai" class="btnTrangThai w3-button w3-white w3-border w3-border-blue w3-round-large" onclick="btnTrangThaiClick(@Model.iMaTrangThaiCode)">Nhận nhiệm vụ</button>
                                            }
                                        }
                                        else if (CurrentContext.GetUser().iMaThanhVienCode == Model.iMaNguoiDangCode && Model.iMaTrangThaiCode == 3)
                                        {
                                            <button onclick="btnTrangThaiClick(@Model.iMaTrangThaiCode,1)" class="btnTrangThai btn btn-success">Duyệt</button>
                                            <button onclick="btnTrangThaiClick(@Model.iMaTrangThaiCode,2)" class="btnTrangThai btn btn-danger">Sửa lại</button>
                                        }
                                        else if (CurrentContext.GetUser().iMaThanhVienCode == Model.iMaNguoiDangCode && Model.iMaTrangThaiCode == 5)
                                        {
                                            <button onclick="btnTrangThaiClick(@Model.iMaTrangThaiCode,2)" class="btnTrangThai btn btn-danger">Thêm lỗi</button>
                                        }
                                    </td>
                                </tr>
                            </table>
                        <div style="margin-left: -50px;" class="w3-row">
                            <ul id="taptin"></ul>
                        </div>
                    </div>
                    <div class="col-md-4">adasd</div>
                    <div class="col-md-4">asdasd</div>
                </div>
            </div>
        </div>
    </div>
    @*asdasdasd*@
    <div id="modal-comfirm" class="w3-modal">
        <div class="w3-modal-content w3-animate-right w3-card-4">
            <div class="w3-display-container">
                <header class="w3-container w3-teal">
                    <span onclick="closeModal()" class="w3-button w3-display-topright">&times;</span>
                    <h2 id="header-modal">Xác nhận</h2>
                </header>
                <div class="main-modal align-content-center">
                    <center>
                        <h2 id="title-modal">Bạn đã sẵn sàng nhận nhiệm vụ này chưa ?</h2>
                        <a class="w3-btn w3-padding-large w3-teal w3-hover-green w3-center w3-margin-right" onclick="closeModal()">Quay lại</a>
                        <a class="w3-btn w3-padding-large w3-teal w3-hover-green w3-center w3-margin-left" onclick="thayDoiTrangThai('#modal-comfirm',2)">Đã sẵn sàng</a>
                    </center>

                </div>
                <footer id="footer-modal" class="w3-container w3-teal"></footer>
            </div>
        </div>
    </div>

    <div id="modal-BaoCao" class="w3-modal">
        <div class="w3-modal-content w3-animate-right w3-card-4">
            <div class="w3-display-container">
                <header class="w3-container w3-teal">
                    <span onclick="closeModal()" class="w3-button w3-display-topright">&times;</span>
                    <h2 id="header-modal">Báo cáo</h2>
                </header>
                <div class="main-modal align-content-center w3-margin">
                    <center>
                        <form id="frmBaoCaoNhiemVu">
                            <h2>Báo cáo nhiệm vụ</h2>
                            <div class="form-group w3-row">
                                <label for="vMoTa" class="w3-container w3-quarter">Mô tả báo cáo:</label>
                                <textarea id="vMoTa" class="w3-container w3-padding-large form-control  w3-threequarter" required></textarea>
                            </div>
                            <div class="form-group w3-row">
                                <label class="w3-container w3-quarter">Link file báo cáo:</label>
                                <div class="w3-container w3-threequarter">
                                    <div class="input-group">
                                        <span class="input-group-addon" id="basic-addon1">Link:</span>
                                        <input type="text" name="linkfile" class="form-control" placeholder="Coppy link file vào đây..." aria-describedby="basic-addon1">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group w3-row">
                                <label class="w3-container w3-quarter">File báo cáo:</label>
                                <input id="countErrTapTin" hidden value="0" />
                                <div class="w3-bar w3-container w3-threequarter bar-taptin">
                                    <div class="w3-margin-right w3-bar-item w3-border w3-border-gray w3-pale-blue w3-display-container">
                                        <input type="file" hidden class="form-control validate" id="1TapTin" name="TapTin">
                                        <h3>
                                            <label for="1TapTin"><i class="fa fa-file w3-button w3-padding-large w3-text-teal" aria-hidden="true"></i></label>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <a class="w3-btn w3-padding-large w3-teal w3-hover-green w3-center w3-margin-right" onclick="closeModal()">Quay lại</a>
                            <a class="w3-btn w3-padding-large w3-teal w3-hover-green w3-center w3-margin-left" onclick="frmBaoCaoNhiemVuSubmit()">Báo cáo</a>
                        </form>
                    </center>

                </div>
                <footer id="footer-modal" class="w3-container w3-teal"></footer>
            </div>
        </div>
    </div>

    <div id="modal-ThongBao" class="w3-modal">
        <div class="w3-modal-content w3-animate-right w3-card-4">
            <div class="w3-display-container">
                <header class="w3-container w3-teal">
                    <span onclick="closeModal()" class="w3-button w3-display-topright">&times;</span>
                    <h2 id="title-modal">Thông báo</h2>
                </header>
                <div class="main-thongbao align-content-center">

                </div>
                <footer id="footer-modal" class="w3-container w3-teal"></footer>
            </div>
        </div>
    </div>

    <div id="modal-ThemLoi" class="w3-modal">
        <div class="w3-modal-content w3-animate-right w3-card-4">
            <div class="w3-display-container">
                <form id="frmThemLoi" method="post" enctype="multipart/form-data">
                    @Html.AntiForgeryToken()
                    <header class="w3-container w3-teal">
                        <span onclick="closeModal()" class="w3-button w3-display-topright">&times;</span>
                        <h2 id="title-modal">Thêm lỗi</h2>
                    </header>
                    <div class="modal-main comfrim">
                        <table class="w3-table-all comfrim" align="center">
                            <thead>
                                <tr>
                                    <th width="20%"></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tr>
                                <td>
                                    Tên lỗi
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Nhập tên nhiệm vụ ở đây..." name="vTenLoi">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Hình
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input id="countErrHinh" hidden value="0" />
                                        <div class="w3-bar bar-hinh">

                                        </div>

                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Mô tả
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Nhập mô tả ở đây..." name="vChiTietLoi"/>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <footer id="footer-modal" class="w3-container w3-teal">
                        <a class="w3-btn w3-padding-large w3-hover-white" onclick="closeModal()">Quay lại</a>
                        <a class="w3-btn w3-padding-large w3-hover-white w3-right" onclick="frmThemLoiSubmit()">Lưu</a>
                    </footer>
                </form>
            </div>
        </div>
    </div>
</div>

